 <!-- As a heading -->
<nav class="navbar bg-dark">
    <div class="container-fluid">

        <span class="navbar-brand mb-0 h1">La Mia Pizzeria</span>
        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="@Url.Action("Index", "Home")" class="nav-link px-2 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="@Url.Action("Contacts", "Home")" class="nav-link px-2 text-body-secondary">Contatti</a></li>
            <li class="nav-item"><a href="@Url.Action("Privacy", "Home")" class="nav-link px-2 text-body-secondary">Privacy</a></li>
        </ul>

    </div>
</nav>