<div class="container">

    <div class="row">

        

    </div>
    <div class="row row-cols-2 align-items-center  ">
        <div class="col">
            <div class="card h-100 d-flex bg-transparent m-3 border-transparent">
                <div class="card-body ms-3">
                    <h3 class="card-title my-2">Contattaci!</h3>
                    <h6 class="card-subtitle my-3 text-body-secondary">Card subtitle</h6>
                    <p class="card-text my-3">
                       <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" style="fill: currentColor; border-radius: 50%; border:2px solid #000; border-color: currentColor;"   viewBox="0 0 512 512"><path d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"/></svg>
                       Tel : 123-456-7890
                    </p>
                    <p class="card-text my-3"> E-Mail</p>
                    <p class="card-text my-3"> WhatsApp</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 d-flex" >
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>

    </div>

</div>