<div class="container">

    <div class="row">

        

    </div>
    <div class="row row-cols-2 align-items-center  ">
        <div class="col">
            <div class="card h-100 d-flex bg-transparent m-3 border-transparent">
                <div class="card-body ms-3">
                    <h3 class="card-title my-2">Contattaci!</h3>
                    <h6 class="card-subtitle my-3 text-body-secondary">Card subtitle</h6>
                    <p class="card-text my-3">
                        <a class="icon-link" href="#">
                            
                              Tel: 123-456-1234
                        </a>
                    </p>
                    <p class="card-text my-3"> E-Mail</p>
                    <p class="card-text my-3"> WhatsApp</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 d-flex" >
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>

    </div>

</div>